    * {
        margin: 0;
        font-family: 'Lato', sans-serif;
    }

    img {
        max-width: 100%;

    }

    body {
        background-color: whitesmoke;
        margin: 0;
        padding: 0;
    }

    article {
        padding: 10px;

    }


    .hide {
        display: none !important;
        pointer-events: none !important;
    }

    h2 {
        font-size: 3.5rem;
        text-align: center;
        padding: 2.5vw 0;
    }

    h3 {
        font-size: 1.5rem;
        padding-bottom: 1vw;
    }

    .expand {
        height: auto !important;
    }

    /* Styling til navigation */
    nav {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 20px;
    }


    /* styling af layout */
    #navbar {
        background-image: url(imgs/navbar_mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
        transition: top 0.3s;
        font-weight: bold;
        z-index: 9000;
    }


    .navbar_left {
        position: absolute;
        right: 5px;
    }

    .navbar_left a {
        display: inline-block;
        color: #f2f2f2;
        padding: 5px;
        text-decoration: none;
        font-size: .9rem;
    }

    .logo,
    .navbar_left {
        display: inline-block;
    }

    .logo a {
        color: #f2f2f2;
        padding: 5px;
        text-decoration: none;
        display: block;
        font-size: .9rem;
    }

    #navbar a:hover {
        background-color: #ddd;
        color: black;
    }


    #landingpage img {
        width: 100%;
    }

    #frontpage_content img {
        width: 100%;
    }


    footer {
        width: 100%;
        height: 50vh;
        background-image: url(imgs/footer_baggrund.png);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 9000;
        text-align: center;
        position: relative;
    }

    footer .sectionwrapper {
        display: flex;
        margin: 10vw;
    }

    .footer_links,
    .logo_footer {
        flex-basis: 350px;

    }

    .logo_footer img {
        width: 5vw;
    }

    .footer_links a {
        display: block;
        color: #f2f2f2;
        padding: 5px;
        text-decoration: none;
        font-size: .9rem;
    }


    .footer_links a:hover {
        background-color: #ddd;
        color: black;
    }





    /* Styling til filtrerings menu */


    .dropdown_button {
        border: 1px solid #DEDEDE;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
        height: 10vw;
        width: 50vw;
        margin: 50px auto auto auto;
        background-color: white;
        padding: 5px 0;
        z-index: 2;
        position: relative;
    }

    .dropdown_button span.fa {
        position: absolute;
        right: 10px;
        top: 2vw;
    }

    .dropdown_list {
        border: 1px solid #DEDEDE;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
        width: 50vw;
        left: 24.8vw;
        position: absolute;
        margin-top: 3px;
        z-index: 20;
        background-color: white;
    }


    .button {
        padding: 15px 25px;
        border-radius: 5px;
        margin: 20px 3px 3px;

        display: inline-block;
        outline: none;
        font-size: 0.9rem;
        background: none;
        border: none;
    }


    .button span,
    .selected_item span {
        height: 9vw;
        line-height: 9vw;
        vertical-align: bottom;
        display: inline-block;
        margin-left: 2vw;
    }



    .button img,
    .selected_item img {
        width: 9vw;

    }


    .selected_item img {
        margin-left: 28px;
    }



    /*
    .button_active {
        background-color: black;
        color: black;

    }
*/

    .oversigt .description {
        display: none;
        height: 9vw;
        overflow: hidden;
    }

    .retterPopUp .description {
        display: block;
    }

    .desktop {
        display: none;
    }

    /* styling til filtrering i menu.html */

    .data-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin: 0 auto;
        padding: .5vw 1vw;
        grid-gap: 30px;

    }

    .data-container img {
        padding-bottom: 1vw;
    }

    /*styling til popup menu  */

    #popUp {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow: scroll;
        z-index: 3;

    }

    .retterPopUp {
        margin-top: 3em;
        padding-top: 2em;
        padding-left: 3em;
        padding-right: 3em;
        background-color: white;
        border-radius: 5px;
        z-index: 1;
    }

    #popUp img {
        margin: 0 auto;
        padding-top: 1em;
        display: block;
        padding-bottom: 1vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #popUp h3 {
        text-align: center;
    }

    #popUp p {
        /*        text-align: center;*/
    }

    /*
    #popUp div {
        border: 1px solid black;
        background-color: white;
        padding: .5vw;
        width: 3vw;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        float: right;
        border-radius: 5px;
    }
*/

    #popUp .x_button {
        position: absolute;
        top: 15vw;
        left: 10vw;
        font-size: 2rem;
        border-style: none;
        cursor: pointer;
    }

    #frontpage_content .text_info {
        padding: 2em;
    }

    #frontpage_content a {
        text-align: center;
        color: black;
        font-size: 1.5rem;
        padding: 0.2em;
    }

    #frontpage_content a:hover {
        color: #E8868F
    }



    /* mediaquery til webversion */

    @media only screen and (min-width: 600px) {


        #navbar {
            background-image: url(imgs/navbar_v2.svg)
        }



        /*
        section {
            max-width: 1200px;
        }
*/

        .oversigt .description {
            display: block;
        }

        .retterPopUp .description {
            display: none;
        }

        .data-container {
            grid-template-columns: 100%;
            grid-auto-flow: dense;

        }

        .sushi_kategorier {
            display: flex;
            flex-direction: column;
        }

        .dropdown_button {
            display: none;
        }

        .dropdown_list {
            border: none;
            box-shadow: none;
            margin: 0 auto;
            position: static;
            z-index: initial;
            background-color: transparent;
            margin-top: 85px;

        }

        .header_buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;


        }


        .header_buttons .button {
            display: flex;
            flex-direction: column;

        }

        .header_buttons img {
            /*            width: 8vw;*/
            filter: opacity(60%);
        }

        .header_buttons .button img:hover {
            filter: opacity(100%);
        }

        .button_active img {
            filter: opacity(100%);
        }



        .button span {
            /*            height: 5vw;*/
            /*
            line-height: 1vw;
            margin-left: 1vw;
*/
        }

        .button {
            margin: auto;
            padding: none;

        }

        .button span {
            margin: auto;
            padding: 0;
            margin-top: 0;
            font-size: 1.2rem;
            width: 8vw;
        }

        .button img {
            width: 9vw;

        }

        .oversigt {

            /*            padding: 8vw;*/
            padding-left: 8vw;
            padding-right: 8vw;
            display: grid;
            grid-template-areas:
                "header header header header"
                "main main main main";
        }

        .oversigt h3 {
            grid-area: header;



        }

        .oversigt img {
            grid-area: main;
            justify-self: left;
            width: 40%;
        }

        .oversigt .textWrapper {
            grid-area: main;
            justify-self: right;
            width: 50%;
            padding-top: 10vw;
            font-size: 1.5vw;
        }

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        .oversigt:nth-child(2n) img {
            justify-self: right;
        }

        .oversigt:nth-child(2n) .textWrapper {
            justify-self: left;
        }


        #frontpage_content .text_info {
            margin-left: 15em;
            margin-right: 15em;
        }


        #popUp {
            background-color: rgba(0, 0, 0, 0.44);
            max-width: none;


        }

        .retterPopUp {

            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 1000px;
            margin: auto;
            margin-top: 3em;

            /*

            margin: 0auto;
            justify-content: center;
*/

        }

        #popUp img {
            margin: 0 auto;
            padding-top: 1em;
            display: block;
            padding-bottom: 1vw;

        }


        #popUp .x_button {

            top: 5vw;
            left: 3vw;

            cursor: pointer;
        }

        .navbar_left a {
            padding: 15px;
            font-size: 1.5rem;
        }

        .logo a {
            padding: 15px;
            font-size: 1.5rem;
        }


    }
